{% extends template %}

{% block body %}

<div class="row">
    <div class="col-sm-2" >
        <h4>Catalog</h4>
        <ul class="nav">
        {% for category in data.categories %}
            <li class="nav-item">
                <a href="{{ category.name|lower }}" class="nav-link"
                    {% if category.id == data.requestedCategoryId %}
                        style="color: green" 
                    {% endif %} >
                    {{ category.name }}</a>
            </li>
        {% endfor %}    
        </ul>
    </div>
    <div class="col-sm-8" >
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
            {% for item in data.itemsOfCategory %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.price }}</td>
                    <td>
                        <a class="btn btn-success btn-xs" href="cart/add/{{ item.id }}">Add</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-sm-2" >
    </div>
</div>

{% endblock %}