{% extends template %}

{% block body %}
    <h1>Item list</h1>

    <table class="table table-hover table-stripped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Description</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
        {% for item in data %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.category_name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.price }}</td>
                <td>
                    <a class="btn btn-outline-primary" href="items/{{ item.id }}">show</a>
                    <a class="btn btn-outline-primary" href="items/{{ item.id }}/edit">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="items/new">Create a new item</a>
{% endblock %}